@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

body {
  background-color: #dcc9b6;
  height: 100%;
}

h1,
h2,
h3 {
  color: #583e31;
}

h1 {
  font-family: "Overpass", sans-serif;
  font-size: 2.8rem;
  padding-top: 1vw;
}

h2 {
  font-size: 1.6rem;
  font-family: "Quicksand", sans-serif;
}

h3 {
  font-size: 1.3rem;
  font-family: "Quicksand", sans-serif;
}

p {
  font-family: "Heebo", sans-serif;
  font-size: 1.1rem;
}

#grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  gap: 1rem;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  padding: 0;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  padding: 1rem 2rem;
}

header nav ul li a {
  font-size: 1.7rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-decoration: none;
  color: black;
  transition: 300ms all;
}

header nav ul li a:hover {
  color: #ffffff;
  transition: 300ms all;
}

header nav ul li a i {
  font-size: 3rem;
}

header {
  grid-area: header;
  background-color: #788877;
}

article {
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
}

article img {
  border-radius: 1rem;
  width: 200px;
  height: auto;
}

.main-article {
  padding: 2rem;
  border-radius: 1rem;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

.main-article img {
  max-width: 700px;
  width: 100%;
  text-align: center;
  height: auto;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0rem;
  margin: 0.5vw 0;
}

.main-article p {
  line-height: 1.8;
  text-align: left;
  font-size: 1.2rem;
  margin: 0;
}

.main-article h1 {
  margin: 0;
}

.main-article ul {
  list-style: none;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-article ul li {
  font-family: "Heebo", sans-serif;
  font-weight: 600;
  background-color: #a2b39f;
  border-radius: 1rem;
  margin-right: 1.5vw;
  margin-bottom: 1.5vw;
  padding: 1.5rem;
  font-size: 1.1rem;
  letter-spacing: 0.3vw;
}

.contact {
  padding: 2rem;
  max-width: 60%;
  border-radius: 1rem;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

.contact ul {
  list-style: none;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.contact ul li {
  font-family: "Heebo", sans-serif;
  font-weight: 600;
  background-color: #f2f2f2;
  border-radius: 1rem;
  margin-bottom: 1.5vw;
  padding: 1.5rem;
  font-size: 1.1rem;
  letter-spacing: 0.3vw;
}

main {
  grid-area: main;
  margin: auto;
  width: 90%;
  text-align: center;
  margin-bottom: 4rem;
}

main section {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

main section article {
  flex-grow: 1;
  flex-basis: 150px;
  margin: 1.5rem;
}

main section article a {
  font-family: "Signika", sans-serif;
  text-decoration: none;
  transition: all 300ms;
}

main section article a:hover {
  text-decoration: underline;
  transition: all 300ms;
}

footer {
  grid-area: footer;
  background-color: #8fa393;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer ul {
  display: flex;
  align-items: baseline;
  padding: 0;
  list-style: none;
  justify-content: center;
}

footer ul li {
  text-decoration: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.7rem;
  color: black;
  padding: 0 4vw;
}

#ham-icon {
  display: none;
}

#banner {
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(176, 199, 171, 0.5),
      #788877
    ),
    url(../images/stockimage.jpg);
  height: 8rem;
  background-position: center;
  text-align: center;
  /* bilde er hentet fra: https://unsplash.com/photos/RhjVGxILcqE */
}

a.button {
  background-color: #8ba977;
  color: #000000;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 42px;
  border-radius: 17px;
  display: inline-block;
  transition: all 300ms;
}

a.button:hover {
  background-color: #a5bd96;
  transform: scale(1.1);
  transition: 300ms all;
}

.more-button {
  background-color: #8ba977;
  color: #000000;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 35px;
  border-radius: 17px;
  display: inline-block;
  transition: 300ms;
}

.more-button:hover {
  background-color: #a5bd96;
  padding: 10px 50px;
  text-decoration: none;
  transition: 300ms;
}

a.button:active {
  transform: scale(0.95);
}

.banner-title {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Overpass", sans-serif;
  color: #464e45;
  font-size: 3rem;
}

#hide-icon {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  color: black;
  transition: all 300ms;
}

#hide-icon:hover {
  transform: scale(1.3);
  transition: 300ms;
}

iframe {
  width: 100%;
  border-radius: 1rem;
  height: 355px;
  border: 0;
  overflow: hidden;
  margin: 0;
}

#table {
  display: flex;
  justify-content: flex-start;
}

#table-2 {
  display: flex;
  justify-content: flex-start;
}

.tablegrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  margin-top: 1vw;
}

.cell-h {
  background-color: #a2b39f;
  font-size: 1.4rem;
  border-radius: 5px;
  text-align: left;
  padding: 0 1vw;
}

.cell p {
  margin: 1vw;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  padding: 1vw;
  background-color: #ebf0ea;
}

.cell-h p {
  margin: 0;
  padding: 1vw;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 0.2rem;
}

.cell-h h2 {
  color: black;
}

.cell {
  background-color: #d2dfcf;
  font-size: 1.2rem;
  border-radius: 5px;
  text-align: left;
}

.sources {
  padding: 0;
  margin: 3rem 0;
}

.sources ol {
  padding: 0;
  text-align: left;
}

.sources ol li {
  list-style: none;
  font-family: "Overpass", sans-serif;
  margin: 0.5rem 0;
  word-break: break-word;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #8ba977;
  color: white;
  padding: 12px 5vw;
  font-size: 1.4rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 300ms all;
}

input[type="submit"]:hover {
  background-color: #a5bd96;
  color: black;
  transform: scale(1.1);
  transition: 300ms;
}

.contact-form {
  border-radius: 1rem;
  font-family: "Heebo", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1vw;
  background-color: #f2f2f2;
  padding: 20px;
}

.active {
  color: #ffffff;
  font-size: 2rem;
}

.active i {
  font-size: 3.3rem;
}

@media only screen and (min-width: 900px) {
  #main-menu {
    display: block !important;
  }

  .nav-header {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  #grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "aside"
      "footer";
    gap: 1rem;
  }

  main {
    width: 95%;
  }

  header nav ul {
    padding: 0;
    text-align: center;
  }

  header nav ul li {
    display: flex;
    justify-content: center;
    padding: 0.3rem;
  }

  header nav ul li a {
    font-size: 1.3rem;
    background-color: rgb(139, 160, 137);
    padding: 2vw;
    width: 100%;
    border-radius: 0.5rem;
  }

  header nav ul li a:hover {
    transform: scale(1.1);
  }

  header nav ul li a i {
    font-size: 2.5rem;
  }

  header nav ul li img {
    width: 45px;
    transition: all 300ms;
  }

  header nav ul li img:hover {
    width: 55px;
    transition: all 300ms;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.3rem;
    font-family: "Quicksand", sans-serif;
  }

  h3 {
    font-size: 1.1rem;
    font-family: "Quicksand", sans-serif;
  }

  p {
    font-size: 1rem;
  }

  footer ul li a {
    font-size: 1.4rem;
  }

  footer ul li a:hover {
    font-size: 1.8rem;
  }

  #ham-icon {
    display: inline-block;
    position: relative;
    padding: 1rem;
    font-size: 1.5rem;
    color: black;
    transition: all 300ms;
  }

  #hide-icon {
    bottom: 1.2rem;
    left: 1rem;
    font-size: 1.2rem;
  }

  .nav-header {
    display: inline-block;
    padding: 1rem;
    font-size: 1.5rem;
    color: #252825;
    font-family: "Overpass", sans-serif;
  }

  #ham-icon:hover {
    transform: scale(1.3);
    transition: 300ms;
  }

  #main-menu {
    display: none;
  }

  #banner {
    display: none;
  }

  a.button {
    font-size: 15px;
    padding: 12px 35px;
  }

  .main-article p {
    font-size: 1.1rem;
  }

  .main-article ul li {
    font-size: 1rem;
    padding: 1rem;
  }

  .contact {
    max-width: 80%;
  }

  .cell-h {
    font-size: 1.3rem;
  }

  .cell p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .tablegrid {
    grid-template-columns: auto auto;
  }

  footer ul li a {
    font-size: 1.3rem;
  }

  footer ul li a:hover {
    font-size: 1.6rem;
  }

  #hide-icon {
    font-size: 1.1rem;
  }

  .main-article {
    padding: 0.5rem;
    margin: 0;
  }

  .main-article p {
    font-size: 1rem;
  }

  .sources ol li {
    margin: 0.3rem 0;
    font-size: 0.8rem;
  }

  .contact {
    padding: 1rem;
  }

  .contact-form {
    font-size: 1rem;
  }

  input[type="submit"] {
    font-size: 1.2rem;
  }

  .contact {
    max-width: 100%;
    margin: 0;
  }

  .cell-h {
    font-size: 1.1rem;
  }

  .cell p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 370px) {
  h1 {
    font-size: 1.8rem;
    margin: 10px;
  }

  h2 {
    font-size: 1.2rem;
    font-family: "Quicksand", sans-serif;
  }

  h3 {
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
  }

  .main-article p {
    font-size: 0.9rem;
  }

  footer ul li a {
    font-size: 1.2rem;
  }

  footer ul li a:hover {
    font-size: 1.4rem;
  }

  #hide-icon {
    font-size: 1rem;
  }

  .main-article ul li {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .cell {
    word-break: break-word;
  }

  .cell-h p {
    padding: 1vw 0;
  }

  .cell-h h2 {
    font-size: 1rem;
  }

  .contact {
    padding: 0.5rem;
  }

  .contact ul li {
    margin-bottom: 1.5vw;
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 0.2vw;
  }
}
